<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Enactus</title>
</head>
<body>

<nav>
  <div>
    <li><img src="assets/Images/Group 5.png" alt=""></li>
  </div>
  <ul>
    <li><a href="default.asp">Welcome</a></li>
    <li><a href="news.asp">Our Team</a></li>
    <li><a href="contact.asp">Projects</a></li>
    <li><a href="about.asp">Sponsors</a></li>
    <li><a href="about.asp">Contact</a></li>
  </ul>
</nav>

<header>
 <div>
   <h2>Heart</h2>
   <h2>Leadership</h2>
   <h2>Education</h2>

   <button type="button">Join us</button>
 </div>


<span id="#projects">
<!--  use images for background and text for foreground-->
</span>

</header>
</body>
</html>


<style>
  header{
    font-size: 30px;
    color: whitesmoke;
    background-color: #30183C;
    padding: 200px;
  }

  button{
    padding: 20px 60px;
    border-radius: 10px;
    color: whitesmoke;
    border: 2px solid #d2d0d0;
    background-color: #011833;
    font-size: 20px;
  }
</style>
