<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Enactus</title>
</head>
<body>

<header id="welcome">
 <div>
   <h1 style="color: #FF4F4F">Heart</h1>
   <h1  style="color:#F06D31" >Leadership</h1>
   <h1>Education</h1>

   <a href="mailto:enactus.stclair@gmail.com">Join Us</a>
 </div>

  <span>
    <img src="../../assets/Images/acheivement-images.svg">
  </span>
</header>

<section>
  <span id="rectangle">
    <h2>Volunteer Hours</h2>
    <h3>20,000+</h3>
  </span>

  <span id="star">
    <h2>Lives Impacted</h2>
    <h3>20,000+</h3>
  </span>

  <span id="circle">
    <h2>Since</h2>
    <h3>2017</h3>
  </span>
</section>

</body>
</html>


<!--<div>-->
<!--<h1>VOLUNTEER HOURS</h1>-->
<!--<p id="counter">-->
<!--</p>-->
<!--</div>-->
