<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Enactus</title>
</head>
<body>

<nav >
  <div>
    <li><img src="assets/Images/Group 5.png" alt=""></li>
  </div>
  <ul>
    <li><a href="#welcome">Welcome</a></li>
    <li><a href="#team">Our Team</a></li>
    <li><a href="#projects">Projects</a></li>
    <li><a href="#sponsors">Sponsors</a></li>
<!--    <li><a href="#contact">Contact</a></li>-->
  </ul>
</nav>

<header id="welcome">
 <div>
   <h1 style="color: #FF4F4F">Heart</h1>
   <h1  style="color:#F06D31" >Leadership</h1>
   <h1>Education</h1>
   <button type="button">Join us</button>
 </div>



</header>
</body>
</html>


<!--<div>-->
<!--<h1>VOLUNTEER HOURS</h1>-->
<!--<p id="counter">-->
<!--</p>-->
<!--</div>-->
