<footer>
  <body>
<div>
  <img src="../../assets/Images/enactus-header-logo.png" alt="">
<!--  <h3>-->
<!--    Enactus</h3>-->
<!--  <h4>St. Clair College</h4>-->
</div>
<div>
<h4>ST. CLAIR COLLEGE</h4>
  <p>2000 Talbolt Road West
    Windsor, ON N9A 6S4</p>
  <p>
    (519) 966-1656 ext. 4033
    enactus.stclair@gmail.com
  </p>
</div>
<div>
  <h4>HOURS OF OPERATION</h4>
  <p> Tuesdays: 12:00 - 15:00</p>
  <p>Thursdays: 12:00 - 1500</p>
  <p>Please contact us Via e-mail outside of out office hours</p>
</div>
</body>

</footer>
