/*Body styles*/
body {
  background-image: url("src/assets/Images/Asset 1.svg"),
  linear-gradient(110deg, #18073C, #401515);
  background-repeat:unset;
  padding: 90px 70px;
  display: flex;
  color: whitesmoke;
  background-color: #30183C;
  align-items: center;
  justify-content: space-between;
  margin-top: 140px;
}

div{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0px 30px;

}
/*Image styles*/
img{
  width: 200px;
}

/*Media Queries*/
@media only screen and (max-width: 868px) {
  body {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-content: center;
  }

div{
   padding:10px;
  text-align: center;
  }
}
