<footer>
  <body>
<div>
  <img src="../../assets/Images-UI/enactus-logo.png" alt="">
</div>

<div id="space-overflow">
  <h4>
    PROJECTS
  </h4>

<a href="#projects">interACT</a>
<a href="#projects">reVERT</a>
 <a href="#projects">Projects</a>
<a href="#projects">Spirit Videos</a>
<a href="#projects">Sponsors</a>

</div>
<div>
  <h4>ST. CLAIR COLLEGE</h4>
  <p>2000 Talbolt Road West
    Windsor, ON N9A 6S4</p>
  <p>
    (519) 966-1656 ext. 4033
    enactus.stclair@gmail.com
  </p>
</div>
</body>

</footer>
