img{
  max-width: 100PX;
  min-width: 100px;
  object-fit: cover;
}
nav ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 50px;
  text-align: center;
}

nav a {
  /*padding: 15px 50px;*/
  color: #ffffff;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: lighter;
}

ul > li {
  display: flex;
  list-style-type: none;
  font-size: 0.9em;
}
a:hover {
  border-bottom: 2px solid #ffea00;
}

@media only screen and (max-width: 616px) {

  nav > ul {
    flex-wrap: wrap;
    justify-content: center;
  }

  nav{
    overflow: hidden;

  }
}


.top-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-image: linear-gradient(110deg, #18073C, #401515);
  color: #FFF;
  height: 50px;
  padding: 1em;list-style: none;
}

.menu {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu > li {
  margin: 0 1rem;
  overflow: hidden;
}

.menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: #fff;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button::before {
  content: '';
  margin-top: -8px;
}

.menu-button::after {
  content: '';
  margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}

@media (max-width: 650px) {
  .menu-button-container {
    display: flex;
  }
  .menu {
    display: flex;
    position: absolute;
    top: 0;
    margin-top: 50px;
    left: 0;
    flex-direction: column;
    width: 73%;

  }
  #menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  #menu-toggle:checked ~ .menu li {
    border: 1px solid #333;
    height: 2.5em;
    padding: 0.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .menu > li {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: white;
    background-color:#30183C;
  }
  .menu > li:not(:last-child) {
    border-bottom: 1px solid #757575;
  }
}
