
<nav class="top-nav">
  <div>
    <li><img src="../../assets/Images/enactus-logo.png" alt="logo"></li>
  </div>
  <input id="menu-toggle" type="checkbox" />
  <label class='menu-button-container' for="menu-toggle">
    <div class='menu-button'></div>
  </label>
  <ul class="menu">
    <li><a href="#welcome">Welcome</a></li>
    <li><a href="#team">Team</a></li>
    <li><a href="#projects">Projects</a></li>
    <li><a href="#videos">Spirit Videos</a></li>
    <li><a href="#sponsors">Sponsors</a></li>
    <!--    <li><a href="#contact">Contact</a></li>-->
  </ul>
</nav>
