/* You can add global styles to this file, and also import other style files */
@import '~normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,400;1,9..144,100;1,9..144,700&display=swap');

h1, h2, h3, h4, h5, h6, h7 {
  font-family: 'Roboto', sans-serif;
}

p, button{
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;
  /*word-spacing: 3px;*/
  /*line-height: 20px;*/
}

html{
  scroll-behavior: smooth;
  align-items: center;
  margin: auto;
}

