<body>
<h3>SPIRIT VIDEOS</h3>
<section>

  <iframe  src="https://www.youtube.com/embed/BQBWIBkVY8Q" title="St. Clair College Enactus Spirit Video 2020" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  <iframe  src="https://www.youtube.com/embed/SZirBSI4oQM" title="Enactus St. Clair Spirit Video 2019" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  <iframe   src="https://www.youtube.com/embed/HZU-uhT3Y1c" title="Enactus St Clair Spirit Video" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

</section>

</body>
